.footer {
  display: grid;
  grid-template-columns: 5rem auto 5rem;
}

.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item svg {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.footer-nav {

}
